#header {
    position: relative;
    top: -10px;
    background-color: #80B2FF;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
	height: 40px;
}



h1, h2, h3, h4, h6 {
	font: normal 175% 'century gothic', arial, sans-serif;
	color: #43423F;
}

h1 {
	text-align: center;
}

h2 {
	font: normal 175% 'century gothic', arial, sans-serif;
	color: #1293EE;
}

h4 {
	font: normal 150% 'century gothic', arial, sans-serif;
	color: #43423F;
}

h5, h6 {
	margin: 0;
	padding: 0 0 5px 0;
	font: normal 120% arial, sans-serif;
}

h5 {
	color: #1293EE;
}

form {
    font-family: Verdana, Arial, sans-serif;
}

p {
    font-family: Verdana, Arial, sans-serif;
    display: inline-block;
}

input {
    font-family: Verdana, Arial, sans-serif;
    color: #777;
}

textarea {
	vertical-align: top;
	width: 400px;
	color: #777;
}

#tekstiala {
    border-left: 1px solid #888;
    border-right: 1px solid #888;
    border-bottom: 1px solid #888;
    position: relative;
    top: -10px;
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 20px;
    box-shadow: 3px 3px 3px #444;
    font-size: 0.8em;
}

#tutvustus {
    position: relative;
    top: 10px;
}

#autorid {
	position: relative;
	text-align: center;
	top: 20px;
}

#defaultLogin {
	width: 200px;
	clear: both;
}

#defaultLogin input {
	width: 100%;
	clear: both;
}

button#facebook {
    border-color: #2d5073;
    background-color: #4A6EA9;
    background-image: url(http://icons.iconarchive.com/icons/danleech/simple/512/facebook-icon.png);
}

div.facebookLogin button {
    padding-right: 45px;
    height: 35px;
    background: none;
    border: none;
    display: block;
    background-size: 25px 25px, cover;
    background-position: 170px center, center center;
    background-repeat: no-repeat, repeat;
    border-radius: 4px;
    color: white;
    font-family:"Merriweather Sans", sans-serif;
    font-size: 14px;
    margin-bottom: 15px;
    width: 205px;
    border-bottom: 2px solid transparent;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    box-shadow: 0 4px 4px -2px gray;
}

