/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
/* Styles */
	body {
		font-size: 125%;
		line-height: 2.000em;
	}
}
 
/* Smartphones (landscape) ----------- */
@media only screen
and (min-width : 321px) {
/* Styles */
	body {
		font-size: 125%;
		line-height: 2.000em;
	}
}
 
/* Smartphones (portrait) ----------- */
@media only screen
and (max-width : 320px) {
/* Styles */
	body {
		font-size: 125%;
		line-height: 2.000em;
	}
}
 
/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {
/* Styles */
	body {
		font-size: 75%;
		line-height: 1.500em;
	}
}
 
/* iPads (landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {
/* Styles */
	body {
		font-size: 75%;
		line-height: 1.500em;
	}
}
 
/* iPads (portrait) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {
/* Styles */
	body {
		font-size: 75%;
		line-height: 1.500em;
	}
}
 
/* Desktops and laptops ----------- */
@media only screen
and (min-width : 1224px) {
/* Styles */
	body {
		font-size: 100%;
		line-height: 1.500em;
	}
}
 
/* Large screens ----------- */
@media only screen
and (min-width : 1824px) {
/* Styles */
	body {
		font-size: 100%;
		line-height: 1.500em;
	}
}
 
/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
	body {
		font-size: 125%;
		line-height: 1.500em;
	}
}
body, div, td {


    color: #666;
    font: 100% Palatino, "Palatino LT STD", "Palatino Linotype", "Book Antiqua", Georgia, serif;
	line-height: 100%;
}
body {
    text-align: center;
    background: url(soft_kill.png);
}
#header {
    margin-bottom: 1em;
}
#wrapper {
    width: 70%;
    min-width: 45.000em;
    max-width: 93.750em;
    margin-right: auto;
    margin-left: auto;
    width: expression(document.body.clientWidth > 800? "50.000em": "auto");
    overflow: hidden;
    display: block;
}
#main {
    overflow: hidden;
    display: box;
    border-radius: 0.375em;
}
#menu {
    background: #eafbef;
    border-radius: 0.375em;
    padding: 0;
    position: relative;
    float: left;
    left: 0;
    width: 25%;
    max-width: 15.625em;
    margin-right: 0.938em;
}
#menu ul {
    list-style: none;
    margin: 0;
    padding: 0.125em 0.250em;
}
#menu ul li {
    padding: 0;
}
#menu a, #menu h2 {
    display: block;
    margin: 0;
    padding: 0;
    color: #111;
    border-radius: 0.375em;
    box-shadow: inset 0 0 0.063em 0.063em rgba(0, 0, 0, .1);
}
#menu h2 {
    color: #111;
    background: #48a964;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.000em;
    padding: 0.375em 0.625em;
    margin: 0.250em 0;
    vertical-align: middle;
}
#menu a {
    color: #48a964;
    background: #cbfeda;
    text-decoration: none;
    padding: 0.125em 0.625em;
}
#menu a:hover {
    color: #48a964;
    background: #eafbef;
}
#footer {
    border: none;
    margin-top: 0.938em;
    border-top: 0.063em solid #999;
}
#footer .new {
    float: left;
}
#footer a:link {
    color: #48a964;
}
.quicklinks {
    clear: both;
    padding-bottom: 0.938em;
}
.quicklinks span {
    float: right;
}
table.navigation {
    border: 0;
}
label {
    width: 6.250em;
    float: left;
    margin-left: 0.313em;
    margin-top: 0;
}
input {
    height: 1.250em;
}
input, textarea, select {
    border: 0.063em solid #b3b3b3;
}
input.image {
    border: none;
    height: auto;
    vertical-align: middle;
}
submit {
    height: 1.563em;
}
div {
    text-align: left;
}
div .box {
    display: block;
    margin-left: 6.563em;
}
a.menu, a.menu:link, a.menu:visited {
    display: block;
    width: 9.375em;
    height: 1.563em;
}
h1, h2, h3 {
    font-family: Palatino, "Palatino LT STD", "Palatino Linotype", "Book Antiqua", Georgia, serif;
    color: #48a964;
}
h1 {
    font-size: 1.5em;
    line-height: 1.625em;
}
h2 {
    font-size: 1.375em;
    line-height: 1.250em;
}
h3 {
    font-size: 1.250em;
    line-height: 1.313em;
}
h4 {
    font-size: 0.875em;
    line-height: 1.250em;
}
.errors {
    font-family: Palatino, "Palatino LT STD", "Palatino Linotype", "Book Antiqua", Georgia, serif;
    color: red;
    font-weight: 700;
    display: block;
    margin-left: 6.563em;
}
a {
    text-decoration: underline;
    font: 1.000em Palatino, "Palatino LT STD", "Palatino Linotype", "Book Antiqua", Georgia, serif;
}
a img {
    border: 0 none;
    vertical-align: middle;
    border-radius: 0.375em;
}
tr:nth-child(odd) {
    background: #fff;
}
tr:nth-child(even) {
    background: #efefef;
}
a:link {
    color: #48a964;
}
a:hover {
    color: #456314;
}
a:active {
    color: #48a964;
}
a:visited {
    color: #48a964;
}
li {
    padding-top: 0.313em;
    text-align: left;
}
ul li {
    margin: 0 0 .25em;
    padding: 0;
}
table {
    background: #eee;
    margin: 0.125em 0 0;
    border: 0.063em solid #bbb;
    border-collapse: collapse;
    width: 100%}
table table {
    margin: -0.313em 0;
    border: 0 solid #e0e7d3;
    width: 100%}
table td, table th {
    padding: 0.125em;
    border: 0.063em solid #ccc;
}
table td form {
    text-align: center;
    vertical-align: middle;
    margin: 0;
}
table th {
    font-size: .9em;
    text-align: left;
    font-weight: 700;
    color: #FFF;
    background: #999;
}
table thead {
    font-weight: 700;
    font-style: italic;
    background: #bbb;
}
table a:link {
    color: #303030;
}
.utilbox {
    width: 1.125em;
}
caption {
    caption-side: top;
    width: auto;
    text-align: left;
    font-size: 1.000em;
    color: #848f73;
    padding-bottom: 0.250em;
}
.table-buttons {
    border: none;
    background: #fff;
}
.table-buttons td {
    border: none;
}
.submit input {
    border: 0.063em solid #bbb;
    color: #777;
    padding: 0.125em 0.438em;
    font-size: 0.688em;
    text-transform: uppercase;
    font-weight: 700;
    height: 1.500em;
}
.updated {
    background: #ecf1e5;
    font-size: 0.688em;
    margin-left: 0.125em;
    border: 0.250em solid #ecf1e5;
}
.updated td {
    padding: 0.125em 0.500em;
    font-size: 0.688em;
    color: #888;
}
.dijitArrowButton {
    height: 1.250em;
}
.dijitTextArea {
    min-height: 5.5em!important;
    max-height: 22em!important;
    overflow-y: auto!important;
    max-width: 10.938em;
}
.RichTextEditable {
    min-height: 18em!important;
    max-height: 18em!important;
}
.flag {
    height: 0.688em;
    width: 1.000em;
    border-radius: 0;
}
.demo-placeholder {
    box-sizing: border-box;
    width: 31.250em;
    height: 25.000em;
    margin: 0.938em auto 1.875em;
    border: 0.063em solid #ddd;
    -webkit-box-shadow: 0.313em 0.313em 0.625em rgba(0, 0, 0, .1);
}